body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7878f7;
  transition: background-color 0.5s ease;
}

#amount::-webkit-inner-spin-button,
#amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.f-u-input::-webkit-inner-spin-button,
.f-u-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.f-u-input {
  margin: 0;
  border: 1px solid #ccc;
}

.main-heading {
  text-align: center;
  background-color: #7878f7;
  color: rgb(17, 20, 241);
  border-bottom: 5px solid #0056b3;
}

.main-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  transition: padding 0.5s ease;
}

.first-container,
.second-container {
  width: 45%;
  background-color: rgb(168, 171, 240);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
}

.f-u-input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  background-color: white;
}

.hrline {
  border: none;
  border-top: 2px solid #53a0f2;
  margin: 20px 0;
}

#search {
  border: 1px solid rgba(128, 128, 128, 0.183);
  border-radius: 3px;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input[type="number"],
input[type="date"],
select {
  width: 74%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.5s ease;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

button,
input[type="submit"] {
  padding: 10px 20px;
  margin: 10px 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#category {
  width: 77%;
}

button:hover,
input[type="submit"]:hover {
  background-color: #3c97f8;
}

table {
  width: 100%;
  border-collapse: collapse;
  transition: width 0.5s ease;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  transition: padding 0.5s ease;
}

th {
  background-color: #3c97f8;
  color: white;
  transition: background-color 0.5s ease;
}

.second-container input:focus {
  outline: none;
}

.second-container input[type="number"] {
  border: none;
  cursor: default;
}

.selectcate {
  display: flex;
  align-items: center;
}

.selectcate label {
  font-size: 20px;
}

.catBtnWrap {
  display: flex;
}

#clearData {
  background-color: red;
}

.cleardata {
  text-align: center;
}

#main-budget {
  background-color: green;
}

#main-budget:hover {
  background-color: rgba(66, 158, 66, 0.906);
}

#expense-list {
  text-align: center;
  color: #0056b3;
}

.warningRed {
  background-color: rgba(255, 0, 0, 0.498);
}